<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{'active': device.id == selectedDevice.id}" ng-repeat="device in devices | orderBy:'-lastSeen'" ng-click="setSelected(device)"><a href="#/devices">Device #{{device.id}}</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line"
                                chart-data="selectedDevice.chart.data"
                                chart-labels="selectedDevice.chart.labels"
                                chart-legend="true"
                                chart-series="selectedDevice.chart.series"
                                chart-click="onClick"></canvas>
                    </div>
                </div>
            </div>

            <h2 class="sub-header">Registered devices</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Internal IP</th>
                        <th>External IP</th>
                        <th>Last seen</th>
                        <th>Registered</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="device in devices | orderBy:'-lastSeen'" ng-click="setSelected(device)" ng-class="{'selected-device': device.id == selectedDevice.id}">
                        <td>{{device.id}}</td>
                        <td>{{device.lastInternalIp}}</td>
                        <td>{{device.lastExternalIp}}</td>
                        <td>{{device.lastSeen}}</td>
                        <td>{{device.created}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>